{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
<!-- callout scss -->
{{ $callout_css := resources.Get "scss/callout.scss" | css.Sass }}
<link rel="stylesheet" href="{{ $callout_css.Permalink }}">
<link rel="stylesheet" href="https://s4.zstatic.net/ajax/libs/disqusjs/3.0.2/styles/disqusjs.css">
{{ if .Params.photoswipe }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/photoswipe.min.css">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@5.3.0/dist/default-skin/default-skin.css"> -->
{{ end }}

<!-- <script defer crossorigin="anonymous" src="/js/image-caption.js"></script> -->
